<ngx-charts-bar-vertical-2d *ngIf="!isDataEmpty(); else noDataToDisplay"
  [scheme]="colorScheme"
  [view]="view"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle"
  [legendPosition]="legendPosition">
</ngx-charts-bar-vertical-2d>
<ng-template #noDataToDisplay>
  <app-no-data-for-display></app-no-data-for-display>
</ng-template>
