
table.mat-table {
  width: 100%;
}

.mat-cell, .mat-footer-cell, .mat-header-cell {
  font-size: 12px;
  padding: 5px 15px 5px 0;
}

.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.mat-column-hobbies {
  width: 250px;
}
