<mat-form-field class="chip-list" [ngClass]="{'mat-form-field-invalid': isControlInvalid()}" [attr.data-test-id]="label">
  <mat-label>{{label}}</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection" required>
    <mat-chip *ngFor="let element of elements" [selectable]="selectable"
              [removable]="removable" (removed)="remove(element)">
      {{element}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [ngModel]="elements" #chipInput="ngModel" [placeholder]="resolvePlaceholder()"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)" aria-label="chip-list"
           (blur)="onBlur()" [disabled]="!isPossibleToAddMore()"
            maxlength="30">
  </mat-chip-list>
  <mat-hint *ngIf="maxElements">Possible to enter till {{maxElements}} elements</mat-hint>
</mat-form-field>
