<div class="analytic-container">
  <mat-grid-list [cols]="12" rowHeight="250px" gutterSize="25px">
    <mat-grid-tile [colspan]="cardLayoutCols" [rowspan]="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Most picked engine type by gender
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          Content
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="cardLayoutCols" [rowspan]="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Most picked colors by age
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          Content
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="cardLayoutCols" [rowspan]="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Most popular hobbies among visitors
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          Content
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</div>
